 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row col-lg-12">
                <div class="text-center">
                    <h2>About Me</h2>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="col-1">
                <div class="row col-lg-23">
                    <div class="col-lg-offset-4">
                        <p class="subtext">Junior at Washington University in St. Louis, originally from WI, living in AZ</p>
                        <p>
                            I am a Computer Science & Finance student at WashU in St. Louis with an interest in full-stack development and business strategy. 
                            I was first introduced to coding my freshman year of college while I was enrolled in the business school. Once I discovered my passion 
                            for problem solving through technology and coding, I switched to CSE and never looked back.
                        </p>
                        <p>
                            As much as I love solving technical problems, what I care most about is drawing attention to important conversations and increasing opportunity 
                            through business, tech, and public policy. I am an optimist that believes that incessantly learning, listening, and giving people a chance will lead 
                            us to accomplish incredible things.
                        </p>
                        <p>When I'm not coding or doing school work, I love <strong>dancing, singing, and reading about history and current events</strong>.</p>
                    </div>
                </div>
                <div class="extra-enter row col-lg-23">
                    <div class="col-lg-offset-4">
                        <p class="subtext">Recent Work</p>
                        <ul>
                            <p><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i><span style="color:rgb(7, 41, 92);"> ClassFinds.com - </span> 
                                Helping build and grow a new e-learning collaboration tool. Working on bringing Figma mock-ups to life in React and finetuning site’s UI/UX features and aiding marketing + product-market fit strategy to increase users.</p>
                            <p><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i><span style="color:rgb(7, 41, 92);"> The National Geospatial-Intelligence Agency - </span> Researched and deployed a GEOINT domain-specific graph database with Neo4j and Python. Developed NLP named entity recognition scripts using Python + spaCy to recognize GEOINT data in text.</p>
                            <p><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i><span style="color:rgb(7, 41, 92);"> Stem League - </span> Mentored 10 high school students interested in CS and developed Web Dev and UX design curriculum for over 300 students.</p>
                        </ul>
                        <p class="subtext">Older Work</p>
                        <ul>
                            <p><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i><span style="color:rgb(7, 41, 92);"> Rem and Company - </span> Consulted for two nonprofits to redesign websites and overhaul brand and event marketing strategies.</p>
                            <p><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i><span style="color:rgb(7, 41, 92);"> Caterpillar Inc. - </span> Adapted several early-stage Python data analysis scripts to crunch real time product health data and predict truck life-hours.</p>
                        </ul>
                    </div>
                </div>
                <a href="#contact"><div class='row col-lg-23 col-lg-offset-4 small-button-background'>Get in Touch</div></a>
                <!-- <div class="row col-lg-12">
                    <div class="text-center-bottom">
                        <h2></h2>
                    </div>
                </div> -->
            </div>

            <div class="col-2 row col-lg-offset-2">
                <div>
                    <p class="subtext">A few technologies I've used recently:</p>
                    <ul>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; HTML & (S)CSS</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; React</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Express.js</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Node.js</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; JavaScript & jQuery</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Python</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Java</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; MySQL</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; MongoDB/Mongoose</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Neo4j Graph</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Tableau</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
