 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="col-1">
                <div class="row col-lg-12">
                    <div class="text-center">
                        <h2>About Me &nbsp; {</h2>
                        <br><p class="subtext col-lg-offset-4"> => Junior at Washington University in St. Louis, originally from Franklin, Wisconsin and Tucson, Arizona</p>
                        <!-- <hr class="star-light"> -->
                    </div>
                </div>
                <div class="row col-lg-23">
                    <div class="col-lg-offset-4">
                        <p>I am a Computer Science and Finance student at WashU in St. Louis with an interest in full-stack development. I was first introduced to coding my freshman year of college while I was enrolled in the business school. Once I discovered my passion for technology and software engineering, I switched to CSE and never looked back.</p>
                    </div>
                </div>
                <div class="row col-lg-23">
                    <div class="col-lg-offset-4">
                        <p>When I'm not coding or doing school work, I enjoy dancing, singing, and reading about history and current events.</p>
                    </div>
                </div>
                <div class="row col-lg-12">
                    <div class="text-center">
                        <h2>}</h2>
                    </div>
                </div>
            </div>
            <div class="row col-lg-23 col-2">
                <div>
                    <p class="subtext">A few of technologies I've used recently:</p>
                    <ul>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; HTML & (S)CSS</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; JavaScript & jQuery</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Python</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Java</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Node.js</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; MySQL</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; MongoDB</li>
                        <li><i class='fas fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Tableau</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
