 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row col-lg-12">
                <div class="text-center">
                    <h2>About Me</h2>
                </div>
            </div>
            <div class="col-1">
                <div class="row col-lg-23">
                    <div class="col-lg-offset-4">
                        <p class="subtext">Management consultant based out of St. Louis, MO</p>
                        <p>
                            After graduating from WashU in St. Louis with a degree in Computer Science, I worked for 9 months at a fast-growing no-code startup, Adalo. 
                            There, I shipped 15+ new product features, built a redesigned settings panel + checkout flow, and led the implementation of a new pricing 
                            structure feature. After Adalo, I started a new role as a Business Analyst at McKinsey and Company, where 
                            I am exploring a diverse array of industries and problem solving contexts
                        </p>
                        <p>
                            Aside from solving business and technical problems, I care most about drawing attention to important conversations 
                            and increasing opportunity through business, tech, and public policy
                        </p>
                        <p>When I'm not working, I love dancing, singing, reading, hiking, and exploring new foods</p>
                    </div>
                </div>
                <div class="extra-enter row col-lg-23">
                    <div class="col-lg-offset-4">
                        <p class="subtext">Older Work</p>
                        <ul>
                            <p><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i><span style="color:rgb(7, 41, 92);"> The National Geospatial-Intelligence Agency - </span> 
                                Researched and deployed a GEOINT domain-specific graph database with Neo4j and Python. Developed NLP named entity recognition scripts using Python + spaCy to 
                                recognize GEOINT data in text</p>
                            <p><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i><span style="color:rgb(7, 41, 92);"> ClassFinds.com - </span> 
                                Helped build and grow a new e-learning collaboration tool. Worked on bringing Figma mock-ups to life in React and finetuning site’s 
                                UI/UX features and aiding marketing + product-market fit strategy to increase users</p>
                            <p><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i><span style="color:rgb(7, 41, 92);"> Stem League - </span> 
                                Closely mentored 10 high school students interested in CS and developed Web Dev and UX design curriculum for over 300 students</p>
                        </ul>
                    </div>
                </div>
                <a href="#contact"><div class='row col-lg-23 col-lg-offset-4 small-button-background'>Get in Touch</div></a>
            </div>

            <div class="col-2 row col-lg-offset-2">
                <div>
                    <p class="subtext">A few technologies I've used recently:</p>
                    <ul>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; React Native</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Express.js</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Node.js</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Snapshot and Jest Unit Testing</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Stripe Webhooks</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; JavaScript & jQuery</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Tableau</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Python</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; SQL</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Java</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Firebase</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Google BigQuery</li>
                        <li><i class='fa fa-angle-double-right' style="color:rgb(7, 41, 92);"></i> &nbsp; Neo4j Graph</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
