 <!-- Arts Section -->
 <section class="success" id="arts">
    <div class="container">
        <div class="row col-lg-12">
            <div class="text-center">
                <h2>Music and Dance</h2>
            </div>
        </div>
        <div class="col-1">
            <div class="row col-lg-23">
                <div class="col-lg-offset-4">
                    <p class="subtext">Indian Classical Music and Dance is a major part of how I interact with my work and the world.</p>
                    <p>When I first began learning Bharathanatyam, I never could have predicted that I'd be practicing it still, 14 years later, as a young 
                        woman profoundly transformed by every tap of my foot, stretch of my arm, and bend of my torso.
                    </p>
                    <p>The beauty of music and dance, to me, is its universality and ability to connect humans with each other regardless of background. 
                        My incessent commitment to exploring and practicing music and dance constantly pushes me to be a more compassionate, thoughtful human being.
                    </p>
                    <p>I have trained for over 16 years under Guru Smt. Kripa Baskaran in Milwaukee, WI and am currently pursuing futher training under Kassiyet Adilkhankyzy, 
                        a disciple of Smt. Rama Vaidyanathan. I performed my arangetram in June of 2015. I have performed in cultural events and played lead roles in classical 
                        dance ballets across Minnesota, Wisconsin, Illinois, and in the Cleveland Tyagaraja Aradhana. In addition to venues in the US, I received the ICCR scholarship 
                        in 2016 to perform in the EFCE Programme in Bangalore and also performed in Chennai at the Hamshadwani theatre. In addition to dance, I have learned Carnatic 
                        vocal music for over 10 years and continues to perform Indian classical and light music at local venues and online. I have a deep love and dedication for dance 
                        and music; with the blessings of my Gurus, I hope to take part in programs where I can present original solo choreography and explore my artistic creativity.
                    </p>
                </div>
            </div>
            <a href="{{ site.baseurl }}/blogs/2020-05-29-dance-and-music/"><div class='row col-lg-23 col-lg-offset-4 small-button-background'>Read More</div></a>
            <!-- <div class="row col-lg-12">
                <div class="text-center-bottom">
                    <h2>}</h2>
                </div>
            </div> -->
        </div>
        <div class="col-2 row col-lg-offset-2">
            <div>
                <img class="art-pictures" src="img/VAR_1646.jpg" alt="dance_picture1">
                <img class="art-pictures" src="img/VAR_1728.jpg" alt="dance_picture3">
                <img class="art-pictures" src="img/VAR_1731.jpg" alt="dance_picture2">
                <img class="art-pictures" src="img/VAR_1934.jpg" alt="dance_picture4">
            </div>
        </div>
    </div>
</section>