 <!-- Arts Section -->
 <section class="success" id="arts">
    <div class="container">
        <div class="row col-lg-12">
            <div class="text-center">
                <h2>Music and Dance</h2>
            </div>
        </div>
        <div class="col-1">
            <div class="row col-lg-23">
                <div class="col-lg-offset-4">
                    <p class="subtext">Indian Classical Music and Dance is a major part of how I work, code, and interact with the world.</p>
                    <p>When I first began learning Bharathanatyam, I never could have predicted that I'd be practicing it still, 14 years later, as a young 
                        woman profoundly transformed by every tap of my foot, stretch of my arm, and bend of my torso.</p>
                    <p>For me, the beauty of music and dance is its universality and spirituality that enables anyone--no matter their background--to connect with it. 
                        Simply put, my dedication to exploring and practicing 
                        music and dance constantly pushes me to be a more compassionate, thoughtful human being.</p>
                </div>
            </div>
            <a href="{{ site.baseurl }}/blogs/2020-05-29-dance-and-music/"><div class='row col-lg-23 col-lg-offset-4 small-button-background'>Read More</div></a>
            <!-- <div class="row col-lg-12">
                <div class="text-center-bottom">
                    <h2>}</h2>
                </div>
            </div> -->
        </div>
        <div class="col-2 row col-lg-offset-2">
            <div>
                <img src="img/" alt="">
            </div>
        </div>
    </div>
</section>