<!-- Blog Grid Section -->
<section id="blog">
    <div class="container">
        <div class="row col-lg-12">
            <div class="text-center">
                <h2>Blog</h2>
                <!-- <hr class="star-light"> -->
            </div>
        </div>
        <div class="col-50">
            <hr class="col-lg-offset-4">
            {% for post in site.blogs limit:3 %}
            {% if post.category == 'general' %}
            <div class="row col-lg-23 full-span">
                <div class="col-lg-offset-4 blog-list-item full-span">
                    <div class="blog-list-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.name }}</a></div>
                    <date class="blog-list-date">{{ post.date | date: "%b %e, %Y" }}</date>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- <div class="col-50">
            <hr class="col-lg-offset-4">
            {% for post in site.blogs limit:3 offset:3%}
            {% if post.category != 'about' %}
            <div class="row col-lg-offset-4">
                <div class="blog-list-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.name }}</a></div>
                <date class="blog-list-date">{{ post.date | date: "%b %e, %Y" }}</date>
            </div>
            {% endif %}
            {% endfor %}
        </div> -->
        <!-- <div class="row col-lg-12">
            <div class="text-center-bottom">
                <h2>}</h2>
            </div>
        </div> -->
    </div>
</section>