<!-- Blog Grid Section -->
<section id="blog">
    <div class="container">
        <div class="row col-lg-12">
            <div class="text-center">
                <h2>Blog &nbsp; {</h2>
                <!-- <hr class="star-light"> -->
            </div>
        </div>
        <div class="col-50">
            <hr class="col-lg-offset-4">
            {% for post in site.blogs %}
            <div class="row col-lg-23">
                <div class="col-lg-offset-4">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.name }}</a>
                    <date class="blog-list-date">{{ post.date | date: "%b %e, %Y" }}</date>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <div class="col-50">
            <hr class="col-lg-offset-4">
            {% for post in site.blogs %}
            <div class="row col-lg-offset-4">
                    hi
            </div>
            {% endfor %}
        </div> -->
        <div class="row col-lg-12">
            <div class="text-center-bottom">
                <h2>}</h2>
            </div>
        </div>
    </div>
</section>