<!-- Blog Grid Section -->
<section id="blog">
    <div class="container">
        <div class="row col-lg-12">
            <div class="text-center">
                <h2>Blog &nbsp; {</h2>
                <!-- <hr class="star-light"> -->
            </div>
        </div>
        <div class="row col-lg-offset-4">
            {% for post in site.blogs %}
                
            {% endfor %}
        </div>
        <div class="row col-lg-12">
            <div class="text-center-bottom">
                <h2>}</h2>
            </div>
        </div>
    </div>
</section>