
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row col-lg-12">
                <div class="text-center">
                    <h2>Portfolio &nbsp; {</h2><br>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row col-lg-offset-4">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                        <div class="portfolio-description"><strong> {{ post.name }} </strong> - <em> {{ post.project-date }} </em></div>
                    </div>
                {% endfor %}
            </div>
            <div class="row col-lg-12">
                <div class="text-center">
                    <h2>}</h2>
                </div>
            </div>
        </div>
    </section>