<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="blog-post-page">
    {% include blog_nav.html %}

    <div class="blog-content">
        <article class="article">
            <h2 class="blog-title">{{ page.name }}</h2>
            <div class="date">
                <em>{{ page.date | date: "%B %e, %Y" }}</em>
            </div>
            <div class="blog-entry">
                {{ content }}
            </div>
        </article>
        <div class="post-navigation">
            {% if page.previous.url %}
                {% if page.previous.category == 'general' %}
                <a class="prev" href="{{page.previous.url}}"><i class='fa fa-arrow-left' style="color:rgb(7, 41, 92);"></i> {{page.previous.name}}</a>
                {% endif %}
            {% endif %}
            {% if page.next.url %}
                {% if page.next.category == 'general' %}
                </i><a class="next" href="{{page.next.url}}">{{page.next.name}} <i class='fa fa-arrow-right' style="color:rgb(7, 41, 92);"></i></a>
                {% endif %}
            {% endif %}
        </div>  
    </div>

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>