<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="blog-post-page">
    {% include blog_nav.html %}

    <div class="blog-content">
        <article class="article">
            <h2 class="blog-title">{{ page.name }}</h2>
            <div class="date">
                <em>{{ page.date | date: "%B %e, %Y" }}</em>
            </div>
            <div class="blog-entry">
                {{ content }}
            </div>
        </article>
        <div class="previous-blog-post"><a href=""></a></div>
    </div>

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>